@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rosario:wght@300;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --headingcolor-100: rgb(54, 54, 54);
    --textcolor-main:#736C6C;
    --primarycolor-100: #107683;
    --primarycolor-200:#EF8354;
     background-color: white;
     }

 body{
    font-family: 'Quicksand', sans-serif;
 }

 h1,h2,h3,h4,h5,h6{
    font-family: 'Rosario', sans-serif;
 }
.header__wrapper{
    background-color: var(--primarycolor-100);
    box-shadow: 1px 1px 10px rgb(68, 67, 67);
}
 header{
     display: flex;
     color: white;
     width: 90%;
     /* background-color: gray; */
     justify-content: space-between;
     margin: 0 auto;
     align-items: center;
 }

 img{
    max-width: 100%;
 }
 
 
 #logo {
     font-family: 'Rosario' sans-serif;
  
    }

 .navigation{
     display: flex;
     display: none;

 }

 .navigation li{
     list-style: none;
     padding: 0.6rem;
     
 }

 .navigation a{
     text-decoration: none;
 }

 #menubar {
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 #menubar span{
     width: 100%;
     height: 0.2rem;
     background-color: white;
     border-radius: 3px;
     }

     /* styles for image   Default for mobile */
     .landing-page{
        width: 100%;
        height:450px;
        background-image: linear-gradient(60deg,rgba(16, 118, 131, 0.877), rgba(16, 118, 131, 0.247)), url("images/pexels-fauxels-3184454.jpg");
        background-position: center;
        background-size: cover;
        color: white;
    }

    .words{
        width: 90%;
        margin: auto;
        padding: 1.5rem 0;
    }
    .words h1{
        font-family: 'Rosario' sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
    }

     .words p{
         margin: 1rem 0;
     }

     .words a{
         display: block;
         width:150px;
        text-decoration: none;
        color: white;
        padding: 0.7rem 2rem;
        background-color: var(--primarycolor-200);
        border-radius: 20px;
         }

         .highlights{
             transform: translateY(-5vh);
             width: 80%;
             margin: 0 auto;
             color: white;
             display: grid;
             grid-template-columns: repeat(auto-fit,minmax(250px,1fr) );
             gap:2rem;
         }
 
         .sections{
            background-color: var(--primarycolor-100);
            box-shadow: 0px 10px 35px rgba(0,0,0,0.3);
            border-radius: 2rem;
            /* display: flex; */
            padding: 1rem;
            gap: 1rem;
        }   

        .try{
            align-items: center;
            display: flex;
            gap: 1rem;
            margin-bottom: 0.5rem;
        }

        .sections p{

        }


        .sections div{
            flex-grow: 2;
            font-size: clamp(1rem, 1.7vw, 2rem); 
        }

        .sections .icons{
            align-self:center;
        }

        .sections h2{
            font-family: 'Rosario' sans-serif;
            /* font-size: 1.2rem; */
            margin-bottom: 1rem;
        }

        .statements{
            width: 67%;
            display: grid;
            /* grid-template-columns: repeat(1,1fr); */
            column-gap: 100px;
            gap: 2rem;
            margin: 7rem auto;
        }

       
        .statements h2{
            color: var(--headingcolor-100);
             text-align: center;
             text-decoration: underline;
            padding: 2rem;
             font-size: 2rem;
        }

        .statements p{
            color: var(--textcolor-main);
            /* width: 40ch; */
            margin: 0 auto;
            text-align: center;
        }
        .statements img{
            display: none;
        }
        .cover{
            background-color: #10768311;
            margin-top: 7rem;
        }
        .offers{
            width: 100%;
            margin: 2rem auto;
            padding: 3rem;
        }
        .offer-text{
        width: 100%;
         text-align: center;
        }
        .offer-list{
            margin-top: 2rem;
            display: grid;
           
        }
     

        .offer-text h2{
            color: var(--headingcolor-100);
            text-decoration: underline;
            font-size: 2rem;
           
        }

        .offer-text p{
            color: var(--textcolor-main);
            margin: 1rem auto;
        }

       .list{
           display:flex;
           margin: 1rem 0;
           justify-self: center;
         
       }

       .list img{
           width:25px;
           height: 30px;
           margin-right: 20px;
       }

       .list-words h3{
           color: var(--headingcolor-100);
       }
       .list-words p{
            margin-top: 10px; 
             }

      .popular-works{
             margin:  7rem auto;
             width:80%;

       }

       .popular-heading{
        width: 100%;
        text-align: center;
       }

       .popular-heading h2{
        color: var(--headingcolor-100);
        text-decoration: underline;
        font-size: 2rem;
       }

       .popular-heading p{
        color: var(--textcolor-main);
        margin: 1rem auto;
       }

       .work-cards{
           width:100%;
           background-color: tomato;
       }

       .cards{
           width:70%;
           margin: 2rem auto;
           height: fit-content;
           border-radius: 10px;
           box-shadow: 1px 1px 5px rgb(207, 200, 200);
           overflow: hidden;
       }

        .cards img{
           width:100% ;
           height:300px;
          object-fit:cover;
       } 

       .cards p{
           padding:0.5rem;
           background-color: #107683;
           color: white;
       }

   @media screen and (min-width: 800px) {
     
    .navigation {
        display: flex
    }
    

    #menubar{
        display: none;
    }

    .words h1{
        width: 30ch;
        font-size: 3rem;
          }

          .statements{
            grid-template-columns: repeat(2,1fr);  
        }

        .statements img{
            display: block;
        }

        .offer-list{
            /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
            grid-template-columns: repeat(2,1fr);
             gap: 2rem; 
            /* margin-left: 1rem;  */
            width: fit-content;
            margin: 0 auto;
        }

        .offer-list p{
            width: 40ch;
        }

    .offer-text p {
      width: 50ch;
    }

    .popular-heading p{
       width: 60ch;
       }

       .work-cards{
           
           width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
       }

       .cards{
           width: 90%;
           
       }
       
    /* .hide-cards{
        display: block;
    } */

}




            

        